* {
    padding: 0px;
    margin: 0px;
}

.main-header { 
    background-color: grey;
    padding: 20px;
    text-align: center;
    opacity: 0.5;
}

h1 {
    color: white;
    border: black solid;
}

ul li{
    text-decoration: none;
}